@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif;");

$defaultFont1: "Merriweather", Helvetica, sans-serif;
$defaultFont2: "Bree Serif", Helvetica, sans-serif;
$defaultColor1: #eee8d6;
$defaultColor2: #022933;
$defaultColor3: #ffba00;
$defaultColor4: #0076a3;
$defaultColor5: #548c27;
$defaultColor6: #f39856;
$defaultColor7: #d14348;
$defaultColor8: #6d73c2;
